<app-room-presentation
  [numbers]="numbers"
  [tshirtSizes]="tshirtSizes"
  [selectedNumber]="selectedNumber"
  [selectedSize]="selectedSize"
  [state]="state"
  [copyingLink]="copyingLink"
  [votes]="votes$ | async"
  [usersConnectedCount]="usersConnectedCount$ | async"
  [usersVotedCount]="usersVotedCount$ | async"
  [averageVotes]="(averageVotes$ | async) ?? 0"
  [forceReveal]="(forceReveal$ | async) ?? false"
  (valueSelected)="onValueSelect($event)"
  (deleteVote)="deleteMyVote()"
  (resetVotes)="onResetVotes()"
  (copyInviteLink)="copyInviteLink()"
  (leave)="leaveRoom()"
  (toggleSpectator)="toggleSpectator()"
  (forceRevealCards)="onForceReveal()"
></app-room-presentation>
