<div
  class="min-h-screen flex flex-col items-center pt-8 pb-8 relative animate-fadeIn motion-safe:transition-all motion-safe:duration-300"
>
  <app-room-header
    [copying]="copying"
    (copyCode)="copyCode.emit()"
    (leave)="leave.emit()"
  ></app-room-header>

  <div class="mb-12 animate-scaleIn motion-safe:transition-all motion-safe:duration-300">
    <img
      src="images/planning-poker.webp"
      alt="Planning Poker"
      class="h-[400px] w-auto rounded-3xl shadow-2xl object-cover mask-radial-at-center mask-radial-from-45% mask-radial-to-80%"
    />
  </div>

  <div class="mb-16 min-h-[144px]">
    <div class="grid grid-cols-6 gap-4 justify-center">
      @if (votes) {
        @for (vote of votes; track $index) {
          <app-vote-card
            [vote]="vote"
            [showNullVote]="hasNullVotes(votes)"
            [estimationType]="state.estimationType || 'fibonacci'"
            [allVoted]="(usersVotedCount ?? 0) === (usersConnectedCount ?? 0) && (usersConnectedCount ?? 0) > 0"
          ></app-vote-card>
        }
      }
    </div>
    @if (usersConnectedCount) {
      @if (usersVotedCount) {
        <p class="text-gray-300 text-center font-mono mt-6">
          {{ usersVotedCount }}/{{ usersConnectedCount }} players voted
        </p>
      } @else {
        <p class="text-gray-300 text-center font-mono mt-6">Waiting for players to vote...</p>
      }
    }
  </div>

  @if (!state.isSpectator) {
    <app-vote-controls
      [numbers]="numbers"
      [tshirtSizes]="tshirtSizes"
      [selectedNumber]="selectedNumber"
      [selectedSize]="selectedSize"
      [estimationType]="state.estimationType || 'fibonacci'"
      (valueSelected)="valueSelected.emit($event)"
    ></app-vote-controls>
  }

  <app-room-stats
    [average]="averageVotes"
    [isHost]="state.isHost"
    [isSpectator]="state.isSpectator"
    [canChangeVote]="selectedNumber !== null && usersConnectedCount !== usersVotedCount"
    (deleteVote)="deleteVote.emit()"
    (resetVotes)="resetVotes.emit()"
  ></app-room-stats>

  <div class="absolute bottom-4 right-4 z-10 hidden md:flex items-center gap-2">
    <a
      href="https://www.linkedin.com/in/gallianoms/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-emerald-400 transition-colors duration-300"
      aria-label="Galliano's LinkedIn profile"
    >
      <i-tabler
        name="brand-linkedin"
        class="`!h-7 !w-7"
      ></i-tabler>
    </a>
    <span class="text-gray-400 font-mono">|</span>
    <a
      href="https://jsalvadev.github.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-emerald-400 transition-colors duration-300 font-mono"
      aria-label="jsalvadev.github.io"
    >
      jsalvadev.github.io
    </a>
  </div>
</div>
