<div class="mt-12 flex flex-col gap-4">
  <div class="flex gap-4">
    <div class="flex items-center gap-2 backdrop-blur-xs px-4 py-2 rounded-full">
      <p class="text-gray-300 font-mono">
        Average:
        <span class="text-emerald-300 font-bold text-xl inline-block min-w-[3ch] text-right">
          {{ average() | number: '1.1-1' }}
        </span>
      </p>
    </div>
    @if (!isSpectator()) {
      <button
        (click)="deleteVote.emit()"
        [disabled]="!canChangeVote()"
        class="px-4 py-2 border border-yellow-500/50 text-yellow-400 rounded-full font-mono transition-all duration-300 bg-gray-800/30 backdrop-blur-xs"
        [class.opacity-50]="!canChangeVote()"
        [class.cursor-not-allowed]="!canChangeVote()"
        [class.hover:text-yellow-500]="canChangeVote()"
      >
        Change vote
      </button>
    }
  </div>
  @if (isHost()) {
    <button
      (click)="resetVotes.emit()"
      class="w-full px-4 py-2 border border-red-500/50 text-red-400 rounded-full hover:text-red-500 font-mono transition-all duration-300 bg-gray-800/30 backdrop-blur-xs"
    >
      Reset votes
    </button>
  }
</div>
