<div
  class="fixed inset-0 flex flex-col items-center justify-center px-4 py-12 md:py-8 animate-fadeIn motion-safe:transition-all motion-safe:duration-300 border-solid"
>
  <div class="p-6 max-w-md w-full mb-8">
    <p class="mb-4 text-emerald-300 text-base text-center">Select your estimation method</p>
    <!-- Estimation Type Selection -->
    <div class="flex justify-center gap-8 mb-8 border-b border-emerald-700/50 pb-6">
      <label class="flex items-center gap-x-2 cursor-pointer group">
        <input
          type="radio"
          [(ngModel)]="estimationType"
          name="estimationType"
          value="fibonacci"
          class="form-radio h-5 w-5 text-emerald-500 border-gray-600 bg-gray-800/50 focus:ring-emerald-500 focus:ring-offset-0 checked:bg-emerald-500 transition-colors duration-300"
        />
        <span class="text-emerald-200 group-hover:text-emerald-400 transition-colors duration-300 text-base">
          Fibonacci
        </span>
      </label>
      <label class="flex items-center gap-x-2 cursor-pointer group">
        <input
          type="radio"
          [(ngModel)]="estimationType"
          name="estimationType"
          value="t-shirt"
          class="form-radio h-5 w-5 text-emerald-500 border-gray-600 bg-gray-800/50 focus:ring-emerald-500 focus:ring-offset-0 checked:bg-emerald-500 transition-colors duration-300"
        />
        <span class="text-emerald-200 group-hover:text-emerald-400 transition-colors duration-300 text-base">
          T-Shirt
        </span>
      </label>
    </div>

    <!-- Create Room Button -->
    <button
      class="shadow-lg bg-gradient-to-r from-emerald-600 via-emerald-500 to-emerald-600 hover:from-emerald-500 hover:via-emerald-400 hover:to-emerald-500 text-white py-3 rounded text-xl transform hover:scale-105 transition-all duration-300 animate-scaleIn motion-safe:transition-all motion-safe:duration-300 w-full"
      (click)="createRoom()"
    >
      Create Room
    </button>

    <!-- Help Button -->
    <div class="flex justify-center mt-6">
      <button
        (click)="showHelpModal = true"
        class="text-gray-300 hover:text-emerald-400 transition-colors duration-300 flex items-center gap-2 text-base"
      >
        <i-tabler name="info-circle"></i-tabler>
        Need help?
      </button>
    </div>
  </div>

  <!-- Links -->
  <div class="fixed bottom-6 right-6 z-10 hidden md:block">
    <app-social-links-footer />
  </div>

  <!-- Modal -->
  @if (showHelpModal) {
    <app-help-modal (close)="showHelpModal = false" />
  }
</div>
