<div
  class="fixed inset-0 flex flex-col items-center justify-center px-4 py-12 md:py-8 animate-fadeIn motion-safe:transition-all motion-safe:duration-300 border-solid"
>
  <!-- Card -->
  <div
    class="bg-gray-800/30 backdrop-blur-xs border border-gray-700/50 rounded-xl py-10 px-6 md:py-16 md:px-16 shadow-2xl hover:shadow-emerald-500/20 transition-all duration-300 w-full max-w-[520px] animate-scaleIn motion-safe:transition-all motion-safe:duration-300"
  >
    <div class="flex flex-col items-center justify-center gap-y-8 md:gap-y-8">
      <div class="w-full max-w-[400px]">
        <button
          class="shadow-lg bg-linear-to-r from-emerald-600 via-emerald-500 to-emerald-600 hover:from-emerald-500 hover:via-emerald-400 hover:to-emerald-500 text-white font-mono py-3 px-6 rounded-full w-full text-lg transform hover:scale-105 transition-all duration-300 animate-scaleIn motion-safe:transition-all motion-safe:duration-300"
          (click)="createRoom()"
        >
          Create Room
        </button>

        <div class="mt-8 flex justify-center gap-x-4">
          <label class="flex items-center gap-x-2 cursor-pointer group">
            <input
              type="radio"
              [(ngModel)]="estimationType"
              name="estimationType"
              value="fibonacci"
              class="form-radio h-5 w-5 text-emerald-600 border-gray-600 bg-gray-800/50 focus:ring-emerald-500 transition-colors duration-300"
            />
            <span class="text-gray-300 group-hover:text-emerald-400 transition-colors duration-300 font-mono">
              Fibonacci
            </span>
          </label>
          <label class="flex items-center gap-x-2 cursor-pointer group">
            <input
              type="radio"
              [(ngModel)]="estimationType"
              name="estimationType"
              value="t-shirt"
              class="form-radio h-5 w-5 text-emerald-600 border-gray-600 bg-gray-800/50 focus:ring-emerald-500 transition-colors duration-300"
            />
            <span class="text-gray-300 group-hover:text-emerald-400 transition-colors duration-300 font-mono">
              T-Shirt
            </span>
          </label>
        </div>
      </div>

      <div class="flex items-center w-full max-w-[400px] my-2">
        <div class="border-t border-gray-500/50 grow"></div>
        <span class="mx-6 text-gray-300 font-mono">OR</span>
        <div class="border-t border-gray-500/50 grow"></div>
      </div>

      <div class="flex flex-col gap-y-5 sm:gap-y-3 items-center w-full">
        <div class="flex flex-col gap-y-5 sm:gap-y-3 items-center w-full">
          <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-y-4 sm:gap-y-0 w-full max-w-[400px] justify-between mb-4 gap-2"
          >
            <input
              type="text"
              [(ngModel)]="roomId"
              placeholder="Enter code or use room URL"
              class="font-mono h-12 bg-gray-800/50 border border-gray-600/50 rounded-full px-4 py-2 focus:outline-hidden focus:border-emerald-500 focus:ring-2 focus:ring-emerald-500/50 w-full sm:w-full text-white placeholder-gray-400 transition-all duration-300"
            />
            <div class="flex items-center gap-x-2 text-white font-mono group relative ml-2">
              <input
                type="checkbox"
                id="spectator"
                [(ngModel)]="isSpectator"
                class="form-checkbox h-5 w-5 text-emerald-600 rounded-sm focus:ring-emerald-500 border-gray-600 bg-gray-800/50 transition-colors duration-300"
              />
              <label
                for="spectator"
                class="cursor-help"
              >
                Spectator?
              </label>
              <div
                class="absolute bottom-full mb-2 hidden group-hover:block w-48 bg-gray-800/90 backdrop-blur-xs text-sm text-gray-300 py-2 px-3 rounded-lg shadow-lg transform transition-all duration-300"
              >
                <div class="text-center text-amber-200">Spectators can only watch and cannot vote</div>
                <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2">
                  <div class="border-8 border-transparent border-t-gray-800/90"></div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="shadow-lg h-12 border border-emerald-500/50 hover:bg-emerald-500/20 hover:border-emerald-400 text-white font-mono py-2 px-6 rounded-full w-full max-w-[400px] transform hover:scale-105 transition-all duration-300"
            (click)="joinRoom()"
          >
            Join Room
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Open -->
  <button
    (click)="showHelpModal = true"
    class="mt-8 text-gray-400 hover:text-emerald-400 transition-colors duration-300 font-mono flex items-center gap-2"
  >
    <i-tabler name="info-circle"></i-tabler>
    Need help getting started?
  </button>

  <!-- Links -->
  <div class="fixed bottom-4 right-4 z-10 hidden md:flex items-center gap-2">
    <a
      href="https://www.linkedin.com/in/gallianoms/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-emerald-400 transition-colors duration-300"
      aria-label="Galliano's LinkedIn profile"
    >
      <i-tabler
        name="brand-linkedin"
        class="`h-7! w-7!"
      ></i-tabler>
    </a>
    <span class="text-gray-400 font-mono">|</span>
    <a
      href="https://jsalvadev.github.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-emerald-400 transition-colors duration-300 font-mono"
      aria-label="jsalvadev.github.io"
    >
      jsalvadev.github.io
    </a>
  </div>

  <!-- Modal Close-->
  @if (showHelpModal) {
    <app-help-modal (close)="showHelpModal = false" />
  }
</div>
